version: "3.9"

services:
  mongodb:
    image: mongo:6
    container_name: mongodb
    restart: always
    ports:
      - "27018:27017"   # host:container (avoids conflict with local MongoDB)
    volumes:
      - mongo_data:/data/db

  backend:
    build: ./backend
    container_name: backend
    restart: always
    ports:
      - "3500:3500"
    environment:
      MONGO_CONN_STR: mongodb://mongodb:27017/neodb
      USE_DB_AUTH: "false"   # optional, for db.js auth logic
    depends_on:
      - mongodb

  frontend:
    build: ./frontend
    container_name: frontend
    restart: always
    ports:
      - "3000:3000"
    depends_on:
      - backend

volumes:
  mongo_data:


