apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: three-tier
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: sachinashokyadav/neoproject:backend
        ports:
        - containerPort: 3500
        env:
          - name: MONGO_CONN_STR
            value: "mongodb://$(MONGO_USERNAME):$(MONGO_PASSWORD)@mongodb-0.mongodb.three-tier.svc.cluster.local:27017/?authSource=admin"
          - name: USE_DB_AUTH
            value: "true"
          - name: MONGO_USERNAME
            valueFrom:
              secretKeyRef:
                name: mongo-secret
                key: MONGO_INITDB_ROOT_USERNAME
          - name: MONGO_PASSWORD
            valueFrom:
              secretKeyRef:
                name: mongo-secret
                key: MONGO_INITDB_ROOT_PASSWORD
        resources:
          requests:
            memory: "256Mi"
            cpu: "250m"
          limits:
            memory: "512Mi"
            cpu: "500m"
        livenessProbe:
          httpGet:
            path: /ok
            port: 3500
          initialDelaySeconds: 15
          periodSeconds: 10
          failureThreshold: 6
        readinessProbe:
          httpGet:
            path: /ok
            port: 3500
          initialDelaySeconds: 15
          periodSeconds: 10
          failureThreshold: 6

            
