apiVersion: v1
kind: Service
metadata:
  name: backend-service
  namespace: three-tier
  labels:
    app: backend
spec:
  type: ClusterIP
  selector:
    app: backend
  ports:
    - name: http
      port: 3500
      targetPort: 3500
      protocol: TCP

